body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #f3a8a8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.phone-container {
    width: 375px;
    height: 650px;
    background-color: #ebebeb;
    border: 10px solid #333;
    border-radius: 40px ;
    box-shadow: 0 10px 20px rgba(65, 6, 6, 0.2); 
    overflow: hidden;
    position: relative;
    padding: 40px 20px 20px; /
    
      
      
      
    
    
}

.phone-container::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background-color: #afaaaa;
    border-radius: 10px;
}
.container {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}
label {
    font-size: 14px;
    color: #333;
    margin-bottom: 6px;
    display: block;
}
input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 20px; 
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fafafa;
}
button {
    width: 100%;
    padding: 15px;
    background-color: #af4c4c;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #6b0f0f;
}
.signup-link {
    text-align: center;
    margin-top: 20px;
}
.signup-link a {
    color: #af4c4c;
    text-decoration: none;
    font-weight: bold;
}
.signup-link a:hover {
    text-decoration: underline;
}